@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #F5F6F8;
}

/* GENERAL COMPONENTS */
.container {
    width: 70%;
    margin: auto;
}
input[type=text]:focus,
input[type=url]:focus,
input[type=password]:focus {
    background-color: #EBF0FF;
}
input[type=text],
input[type=password] {
    padding: 12px 8px;
    font-size: 14px;
    border: 0;
    background-color: #F8FAFF;
    outline: none;
    border-bottom-left-radius: 4px;
}


/* SEARCH */
.search {
    background-color: #ffffff;
    border-bottom: 1px solid #ECEDEF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.search-container {
    padding: 24px;
}
.search-main {
    display: flex;
}
.search input[type=text] {
    width: 100%;
}
.search label {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 4px;
}
.search-options-btn {
    width: 50px;
    background-color: #ffffff;
    display: block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0 12px;
    position: relative;
    border-radius: 2px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.search-options-btn:hover { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.icon-up,
.icon-down {
    width: 22px;
    height: 16px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-up {
    background-image: url("../img/icon-up.png");
}
.icon-down {
    background-image: url("../img/icon-down.png");
}
.search button[type=submit] {
    width: 150px;
    padding: 12px 8px;
    font-size: 14px;
    background-color: #4952DD;
    color: #ffffff;
    float: right;
    border: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: 0;
}
.search button[type=submit]:hover,
.search button[type=submit]:focus {
    background-color: #3636D3;
    cursor: pointer;
}
.search button[type=submit]:disabled {
    opacity: 0.5;
    cursor: progress;
}

/* SEARCH OPTIONS */
.search-options {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.search-options__item {
    flex: 1;
    min-width: 250px;
}
.search-options label {
    display: block;
}
.search-options__item input[type=password],
.search-options input[type=text] {
    width: calc(100% - 24px);
}

/* LOADER */
.loader {
    width: 100%;
    height: 4px;
    background-color: #ECEDEF;
    position: relative;
    overflow: hidden;
}
.loader__indeterminate {
    background-color: #4C4CD8;
}
.loader__indeterminate:before {
    content: "";
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.loader__indeterminate:after {
    content: "";
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
}
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

/* DIALOG */
.dialog-bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, .25);
}
.dialog {
    width: 476px;
    background-color: #ffffff;
    box-shadow: 0 -2px 25px 0 rgba(0, 0, 0, 0.15), 0 13px 25px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: auto;
    display: block;
    margin: 10% auto;
}
.dialog-container {
    padding: 12px;
}
.dialog-header {
    margin-bottom: 12px;
}
.dialog-header h1 {
    font-size: 24px;
    color: rgba(0,0,0,.8);
}
.dialog-text {
    color: rgba(0,0,0,.5);
}
.dialog-actions {
    display: flex;
    margin-top: 24px;
    justify-content: flex-end;
}
.dialog-actions a {
    color: rgba(33,150,243,0.9);
    text-decoration: none;
    line-height: 36px;
    padding: 0 8px;
    text-transform: uppercase;
}
.dialog-actions a:hover {
    background-color: rgba(0, 0, 0, .15);
}

/* SLIDER */
.slider {
    margin: 24px;
    width: calc(50% - 68px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid #ECEDEF;
}
.slide {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.slide__background {
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
}
.slide__image img{
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    height: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 1px solid rgba(255, 255, 255, .5);
}
.slide__image img:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.slide__legend {
    position: absolute;
    bottom: 24px;
    right: 50%;
    transform: translateX(50%);
    background: linear-gradient(#4C4CD8, #2828B8);
    color: #ffffff;
    padding: 4px 12px;
    border-radius: 24px;
    border: 1px solid #CDCDF4;
}