<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knowledge Acquisition</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script defer src="static/js/app.js"></script>
</head>
<body>
    <header class="search">
        <div class="search-container">
            <form action="/" method="POST">
                <label for="url">What are your looking for?</label>
                <input type="text" id="url" name="url" placeholder="URL to analyze" value="{{ data.url }}">
                <button type="submit">Analyze</button>
            </form>
        </div>
    </header>

    {% if data.display == true %}
    <section class="output-article-text">
        <header>
            <h1>Text from the article</h1>
        </header>
        <p>{{ data.article }}</p>
    </section>
    {% endif %}


    <section class="slider">
        <div class="slide">
            <div class="slide__background" style="background-image: url('http://upload.wikimedia.org/wikipedia/commons/7/72/Buckingham_Palace_from_gardens%2C_London%2C_UK_-_Diliff.jpg')"></div>
            <div class="slide__image">
                <img src="http://upload.wikimedia.org/wikipedia/commons/7/72/Buckingham_Palace_from_gardens%2C_London%2C_UK_-_Diliff.jpg" alt="">
            </div>
            <div class="slide__legend">
                <p>Buckingham Palace</p>
            </div>
        </div>
    </section>
    
</body>
</html>