<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knowledge Acquisition</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/png" href="static/img/favicon.png">
    <script defer src="static/js/app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <header class="search">
        <div class="search-container">
            <form action="/endpoint/" method="post" id="form">
                <label for="url">What are your looking for?</label>
                <div class="search-main">
                    <input type="text" id="url" name="url" placeholder="URL to analyze" value="{{ data.url }}">
                    <a href="#" class="search-options-btn" id="search-options-btn"><i class="icon-up" id="search-options-icon"></i></a>
                    <button type="submit" id="submit_btn">Analyze</button>
                </div>
                <div class="search-options">
                    <div class="search-options__item">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="search-options__item">
                        <label for="hostname">Hostname</label>
                        <input type="text" id="hostname" name="hostname" placeholder="Hostname" value="gw.info.unicaen.fr" disabled>
                    </div>
                    <div class="search-options__item">
                         <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="search-options__item">
                         <label for="location">Location of AIDA</label>
                        <input type="text" id="location" name="location" placeholder="Location of AIDA" value="~/AIDA/">
                    </div>
                </div>
            </form>
        </div>
        <nav class="nav-container">
            <div class="nav">
                <a href="#" class="active" id="tab-text-btn">View text</a>
                <a href="#" id="tab-relations-btn">Relations</a>
                <a href="#" id="tab-entities-btn">Entities</a>
            </div>
        </nav>
    </header>
    <div class="loader" style="display: none"><div class="loader__indeterminate"></div></div>

    <div class="dialog-bg" id="dialog">
        <div class="dialog">
            <div class="dialog-container">
                <div class="dialog-header">
                    <h1 id="dialog-title">Oups ...</h1>
                </div>
                <div class="dialog-text">
                    <p id="dialog-content">Our scrapper can't scrap this website. Try with another website to use this tool.</p>
                </div>
                <div class="dialog-actions">
                    <a href="#" id="exit-dialog">Understand</a>
                </div>
            </div>
        </div>
    </div>

    <main>
        <!-- SECTION TEXT -->
        <div class="tab-text">
            <div class="text">
                <p id="text"></p>
            </div>
        </div>

        <!-- SECTION RELATIONS -->
        <div class="tab-relations">
            <div class="graph_chart" id="chart"></div>
        </div>

        <!-- SECTION ENTITIES -->
        <div class="tab-entities">
            <div class="entities">
            </div>
        </div>
    </main>

</body>
</html>