<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Knowledge Acquisition</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script defer src="static/js/app.js"></script>
</head>
<body>
    <header class="search">
        <div class="search-container">
            <form action="/endpoint/" method="post" id="form">
                <label for="url">What are your looking for?</label>
                <div class="search-main">
                    <input type="text" id="url" name="url" placeholder="URL to analyze" value="{{ data.url }}">
                    <a href="#" class="search-options-btn" id="search-options-btn"><i class="icon-up" id="search-options-icon"></i></a>
                    <button type="submit" id="submit_btn">Analyze</button>
                </div>

                <div class="search-options">
                    <div class="search-options__item">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="search-options__item">
                        <label for="hostname">Hostname</label>
                        <input type="text" id="hostname" name="hostname" placeholder="Hostname" value="gw.info.unicaen.fr" disabled>
                    </div>
                    <div class="search-options__item">
                         <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <div class="search-options__item">
                         <label for="location">Location of AIDA</label>
                        <input type="text" id="location" name="location" placeholder="Location of AIDA" value="~/AIDA/">
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div class="loader" style="display: none"><div class="loader__indeterminate"></div></div>

    {% if data.display == true %}
    <section class="output-article-text">
        <header>
            <h1>Text from the article</h1>
        </header>
        <p>{{ data.article }}</p>
    </section>
    {% endif %}

</body>
</html>